<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Productos</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center">Listado de Productos</h1>
        
        <div class="text-center mb-4">
            <a th:href="@{RegistrarProducto}" class="btn btn-success" title="Registrar nuevo producto">Nuevo Producto</a>
        </div>
        
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Precio de Venta</th>
                    <th>Stock</th>
                    <th>Precio de Compra</th>
                    <th>Estado</th>
                    <th>Descripción</th>
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="p : ${listado}">
                    <tr>
                        <td th:text="${p.idproductocl3}"></td>
                        <td th:text="${p.nombrecl3}"></td>
                        <td th:text="${p.precioventacl3}"></td>
                        <td th:text="${p.stock}"></td>
                        <td th:text="${p.preciocompcl3}"></td>
                        <td th:text="${p.estadocl3}"></td>
                        <td th:text="${p.descripcl3}"></td>
                        <td>
                            <a th:href="@{editar/}+${p.idproductocl3}" class="btn btn-primary" title="Editar Producto">Editar</a>
                        </td>
                        <td>
                            <a th:href="@{eliminar/}+${p.idproductocl3}" class="btn btn-danger" title="Eliminar Producto">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
